repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: gleam-check
        name: gleam check
        entry: gleam check
        language: system
        files: ^(src|test)/.*\.gleam$
        pass_filenames: false
      - id: gleam-format
        name: gleam format --check
        entry: gleam format --check src test
        language: system
        files: ^(src|test)/.*\.gleam$
        pass_filenames: false
