name: test

on:
  push:
    branches:
      - master
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: erlef/setup-beam@v1
        with:
          otp-version: "28"
          gleam-version: "1.14.0"
          rebar3-version: "3"
      - uses: actions/setup-node@v6
        with:
          node-version: "22"
      - run: gleam deps download
      - run: gleam test
      - run: gleam test --target javascript
      - run: gleam format --check src test
      - name: Build examples
        working-directory: example
        run: |
          gleam deps download
          gleam build
          gleam build --target javascript
          gleam format --check src
